*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .main {
    padding-top: 60px;
  }
}

.link {
  transition-property: background-color, color, fill, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

svg {
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn {
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

link:hover {
  cursor: pointer;
}

.btn:hover {
  cursor: pointer;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.flexx-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
  /* @media screen and (min-width: 480px) {
    width: 360px;
  }*/
}

@media screen and (min-width: 1200px) {
  .main-title {
    font-size: 44px;
    line-height: 1.364;
    /* width: 696px;*/
  }
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.179;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
  }
}

.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /*@media screen and (max-width: 767px) {
    text-align: center;
  }*/
}

.subtitle_dark-theme {
  color: #ffffff;
}

.subtitle_light-theme {
  color: #212121;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 10;
  /*@media screen and (max-width: 480px) {
    max-width: 480px;
  }*/
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    top: 0;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-transform: capitalize;
}

.logo-web {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.192;
  }
}

.header-logo {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .header-logo {
    padding: 16px 0;
  }
}

.header-logo-studio {
  color: #000000;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 93px;
  }
}

.footer-logo-studio {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer-logo {
    margin-right: 86px;
  }
}

/*
.logo {
  font-family: $secondary-font-family;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  &-web {
    color: #2196f3;
  }
}

.header-logo {
  margin-right: 93px;
  &-studio {
    color: #000000;
  }
}

.footer-logo {
  margin-right: 86px;
  &-studio {
    color: #ffffff;
  }
}
*/
.navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .navigation {
    width: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: flex;
  }
}

.navigation-list-item {
  position: relative;
}

@media screen and (max-width: 767px) {
  .navigation-list-item {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list-item {
    margin-right: 50px;
  }
}

.line {
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.navigation-list-item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.navigation-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #212121;
  display: inline-block;
  /*transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}

@media screen and (min-width: 768px) {
  .navigation-link {
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.active-menu {
  color: #2196f3;
}

.navigation-link:active,
.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}

@media screen and (max-width: 767px) {
  .header .address {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contacts-flexx {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .header-contact {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header-contact {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header-contact {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
}

.header-contact:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.contact-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .contact-link {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .contact-link {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.143;
  }
}

.contact-link svg {
  margin-right: 10px;
  fill: currentColor;
  fill: #757575;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-link svg {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
  .smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
  .smartphone {
    width: 10px;
    height: 16px;
  }
}

.contact-link:hover svg,
.contact-link:focus svg {
  fill: #2196f3;
}

.contact-link:hover,
.contact-link:focus {
  color: #2196f3;
}

.order-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px 10px 32px;
}

.order-btn:hover, .order-btn:focus {
  background: #188ce8;
}

.submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 0 55px 0 56px;
  height: 50px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
}

.submit-btn:hover, .submit-btn:focus {
  background-color: #188ce8;
}

.menu-button {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  /* .icon-menu,
  .icon-cross {
    fill: #000000;
  }*/
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button:hover .icon-menu,
.menu-button:focus .icon-menu {
  fill: #2196f3;
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-cross {
  fill: #2196f3;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.gallery-container {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .gallery-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.filter {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter-list {
  display: flex;
  justify-content: start;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 767px) {
  .filter-list {
    flex-wrap: wrap;
  }
  .filter-list-item {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.filter-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  padding: 6px 22px 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-btn:active, .filter-btn:hover, .filter-btn:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .gallery-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.gallery-list-item {
  background: #ffffff;
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 767px) {
  .gallery-list-item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .gallery-list-item {
    max-width: 354px;
  }
  .gallery-list-item:nth-child(2n + 1) {
    margin-right: 30px;
  }
  .gallery-list-item:not(:nth-last-of-type(-n + 2)) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list-item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
  .gallery-list-item:not(:nth-last-of-type(-n + 3)) {
    margin-bottom: 30px;
  }
}

.gallery-list-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.gallery-list-item:hover .overlay {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(33, 150, 243, 0.9);
  cursor: pointer;
}

.gallery-list .gallery-content {
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.gallery-list .gallery-content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.gallery-list .gallery-content-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.gallery-list .overlay-box {
  position: relative;
  overflow: hidden;
}

.gallery-list .overlay-box img {
  width: 100%;
}

.gallery-list .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 77px 24px;
  background-color: #2196f3;
  transform: translateY(100%);
  transition-property: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .gallery-list .overlay {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-list .overlay {
    padding: 63px 24px;
  }
}

.gallery-list .overlay-discription {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.social-link:hover svg,
.social-link:focus svg {
  fill: #ffffff;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer {
    text-align: center;
  }
}

.footer-address {
  margin-top: 20px;
}

.footer-contact {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .footer-contact {
    margin-bottom: 9px;
  }
}

.footer-contact:last-child {
  margin-top: 0;
}

.footer .location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer .mail {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .phone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer-social-links {
    margin-top: 60px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-social-links {
    padding-top: 5px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social-links {
    padding-top: 12px;
    margin-left: 70px;
  }
}

.footer-subtitle {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-subtitle {
    text-align-last: left;
  }
}

.footer .social-list {
  margin-top: 0;
}

.footer .social-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: #2196f3;
}

.footer .social-link svg {
  fill: #ffffff;
}

.footer-form-wrap {
  width: 100%;
}

@media screen and (max-width: 1199px) {
  .footer-form-wrap {
    max-width: 450px;
    margin: 60px auto 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form-wrap {
    margin-left: 93px;
    padding-top: 12px;
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .footer-form {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    align-items: center;
  }
}

.footer-input {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer .submit-btn {
  display: flex;
  align-items: center;
  padding: 10px 28px 10px 29px;
  margin-left: 12px;
}

@media screen and (max-width: 1199px) {
  .footer .submit-btn {
    margin: 20px auto 0 auto;
  }
}

.footer .submit-btn svg {
  width: 24px;
  height: 24px;
  fill: #ffffff;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .footer .tablet-container {
    display: flex;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
}

/*
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  .container {
    display: flex;
  }

  &-address {
    margin-top: 20px;
  }

  &-contact {
    margin-bottom: 9px;
  }

  &-contact:last-child {
    margin-top: 0;
  }

  .location {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: #ffffff;
  }

  .mail {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }

  .phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &-social-links {
    margin-left: 70px;
  }
  &-subtitle {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    padding-top: 12px;
    margin-bottom: 20px;
  }

  &-social-list {
    margin-top: 0;
  }
  .social-link {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .social-link:hover,
  .social-link:focus {
    background-color: $active-color;
  }

  .social-link svg {
    fill: #ffffff;
  }
  &-form-wrap {
    margin-left: 93px;
    width: 100%;
  }
  &-form {
    display: flex;
    align-items: center;
  }
  &-input {
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: transparent;
    color: #ffffff;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .submit-btn {
    display: flex;
    align-items: center;
    padding: 10px 28px 10px 29px;
    margin-left: 12px;
  }

  .submit-btn svg {
    width: 24px;
    height: 24px;
    fill: #ffffff;
    margin-left: 10px;
  }
}
*/
@media screen and (max-width: 767px) {
  .mobile-menu {
    padding: 60px 0;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    width: 100%;
    height: 395px;
    top: 100%;
    right: 0%;
    display: none;
    z-index: 999;
  }
}

@media screen and (max-width: 480px) {
  .mobile-menu {
    max-width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  display: block;
}

.mobile-navigation-list {
  text-align: center;
}

.mobile-address {
  margin-top: 60px;
}

.mobile-contact-list {
  text-align: center;
}

.menu-underline {
  position: relative;
  padding-bottom: 12px;
  color: #2196f3;
}

.menu-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  position: absolute;
  bottom: 0;
}
/*# sourceMappingURL=portfolio.css.map */