.order-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: $active-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px 10px 32px;

  &:hover,
  &:focus {
    background: $activ-btn-color;
  }
}

.submit-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;

  padding: 0 55px 0 56px;
  height: 50px;

  background-color: $active-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  &:hover,
  &:focus {
    background-color: $activ-btn-color;
  }
}

.menu-buton {
  height: 40px;
  width: 40px;
  background-color: transparent;
  border: none;

  /* .icon-menu,
  .icon-cross {
    fill: #000000;
  }*/

  .icon-cross {
    display: none;
  }

  &.is-open .icon-close {
    display: block;
  }

  &.is-open .iconmenu {
    display: none;
  }

  &:hover .icon-menu,
  &:focus .icon-menu {
    fill: $active-text-color;
  }

  &:hover .icon-cross,
  &:focus .icon-cross {
    fill: $active-text-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
