.address {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts-flexx {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.header-contact {
  @media screen and (max-width: 767px) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 10px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }
}

.header-contact:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.contact-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $secondary-text-color;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 1.167;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 1.143;
  }
}

.contact-link svg {
  margin-right: 10px;
  fill: currentColor;
  fill: $secondary-text-color;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 768px) {
  .envelope {
    width: 14px;
    height: 10px;
  }
  .smartphone {
    width: 10px;
    height: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .envelope {
    width: 16px;
    height: 12px;
  }
  .smartphone {
    width: 10px;
    height: 16px;
  }
}

.contact-link:hover svg,
.contact-link:focus svg {
  fill: $active-color;
}

.contact-link:hover,
.contact-link:focus {
  color: $active-color;
}
