.modal-window {
  position: absolute;
  z-index: 25;
  /*top: 221px;*/
  top: 50%;
  left: 50%;

  width: 450px;
  padding: 40px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  /*transform: translateX(-50%) scale(1);*/
  transform: translate(-50%, -50%) scale(1);
  overflow: hidden;
  transition-delay: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    width: 528px;
    height: 581px;
  }

  .close-btn {
    position: absolute;
    z-index: 30;
    left: 412px;
    top: 8px;

    width: 30px;
    height: 30px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover svg,
    &:focus svg {
      fill: $active-color;
    }

    @media screen and (min-width: 1200px) {
      left: 490px;
    }
  }

  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    margin-bottom: 12px;

    color: $primary-text-color;
  }
}
