.navigation {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    width: 100%;
    justify-content: space-between;
  }
}

.navigation-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.navigation-list-item {
  position: relative;
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.line {
  height: 4px;
  width: 100%;
  background-color: $active-color;
  border-radius: 2px;
  bottom: 0;
  position: absolute;
  z-index: 2;
}

.navigation-list-item:last-child {
  margin-bottom: 0;
  margin-right: 0;
}

.navigation-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: $primary-text-color;
  display: inline-block;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.143;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  /*transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
}

.navigation-link:active,
.navigation-link:hover,
.navigation-link:focus {
  color: $active-color;
}
