$primary-text-color: #212121;
$secondary-text-color: #757575;
$active-color: #2196f3;
$background-color: #f5f4fa;
$social-link-color: #afb1b8;
$activ-btn-color: #188ce8;
$primary-font-family: "Roboto", sans-serif;
$secondary-font-family: "Raleway", sans-serif;
